// Fonts
$font: "Lato", sans-serif
$icon: "social", sans-serif

// Gray
$ice: rgb(236,240,241)
$gray: rgb(99,99,99)
$grayLt: rgb(130,130,130)
$grayLtr: rgb(180,180,180)
$black: rgb(51,51,51)

// Red
$red: rgb(231,76,60)
$redDk: rgb(192,57,43)

// Green
$green: rgb(162,162,14)
$greenDk: rgb(63,63,0)
$greenLt: rgb(231,231,144)
$greenLtr: rgb(243,241,218)
