@import "config"
@import "mixins"

// Fonts

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic)

@font-face 
	font-family: 'social'
	src: url('../fonts/social.eot')
	src: url('../fonts/social.eot?#iefix') format('embedded-opentype'), url('../fonts/social.ttf') format('truetype'), url('../fonts/social.woff') format('woff'), url('../fonts/social.svg#social') format('svg')
	font-weight: normal
	font-style: normal

// Tags

*
	margin: 0
	padding: 0
body
	background: $greenLtr
	color: $black
	font: 14px/20px sans-serif
hr
	display: none
p
	font-family: $font
	margin-bottom: 10px
ul,ol
	font: 14px/17px $font
	list-style: none
	margin-bottom: 10px
li
	margin-left: 15px
	position: relative
blockquote
	border-left: 5px solid $red
	color: $gray
	font-style: italic
	margin: 0 0 10px -10px
	padding: 30px 0 20px 45px
	position: relative
	&:before
		background: $red url(../img/sprites.png) -680px -1px
		border: 10px solid $red
		content: ""
		display: block
		height: 40px
		left: -25px
		margin-top: -30px
		position: absolute
		top: 50%
		width: 40px
		@include border-radius(50%)
a
	color: $red
	@include transition
	&:hover, &:focus, &:active
		color: $green

// Layout

.head
	background: url(../img/wood.jpg) repeat-x center 0
	@include background-size(1280px 270px)
	height: 270px
	position: relative
.main
	display: table
	margin: 0 auto
	position: relative
	width: 950px
.body
	display: table-cell
	padding: 0 10px 40px 0
	vertical-align: top
	width: 710px
.extra
	background: #fff
	display: table-cell
	vertical-align: top
	width: 230px
.foot
	background: $gray
	clear: both
	min-height: 90px
	padding: 30px 0 20px
	position: relative
	&:before
		background: url(../img/sprites.png) repeat-x 0 -280px
		content: ""
		display: block
		height: 9px
		margin: -39px 0 30px

// Header

.logo
	left: 50%
	margin-left: -475px
	position: absolute
	top: 0
	width: 230px
	z-index: 10
.nav
	left: 50%
	margin-left: -245px
	position: absolute
	top: 35px
	width: 720px
	.admin-bar &
		margin-top: 32px
.menu
	display: table
	width: 100%
	.menu-item
		display: table-cell
		font: 700 13px/30px $font
		a
			background: $green
			color: $greenLtr
			display: block
			padding: 10px 15px 0
			text-align: center
			text-decoration: none
			text-transform: uppercase
			&:hover, &:focus, &:active
				background: $greenDk

// Footer

.foot-menu
	color: $grayLtr
	left: 50%
	position: absolute
	text-align: right
	top: 36px
	width: 475px
	.menu-item
		display: inline
		font: 300 11px $font
		margin: 0
		text-transform: lowercase
		a
			color: $grayLtr
			text-decoration: none
			&:hover, &:focus, &:active
				color: $green
		&:before
			content: " | "
		&:first-child:before
			display: none

.foot-social
	bottom: 20px
	margin-right: -475px
	position: absolute
	right: 50%
	white-space: nowrap
.social-item
	float: left
	margin-left: 10px
	a
		background: $grayLt
		display: block
		height: 30px
		overflow: hidden
		position: relative
		text-indent: 100%
		white-space: nowrap
		width: 30px
		@include border-radius(5px)
		&:hover, &:focus, &:active
			background: $green
		&:before
			color: #fff
			content: attr(data-icon)
			display: block
			font: 20px/30px $icon
			position: absolute
			text-indent: 0
			text-align: center
			width: 100%

.site-name
	display: block
	margin: 0 auto 13px
	width: 950px
	img
		display: block
.copyright
	color: $greenLtr
	font: 300 11px/17px $font
	margin: 0 auto
	width: 950px
	a
		color: $greenLtr
		text-decoration: none
		&:hover, &:focus, &:active
			color: $green

// Body

.entry
	background: #fff
	margin-bottom: 60px
	padding: 0 0 20px
	position: relative
	top: -85px
	@include box-shadow(0 1px 5px rgba(#000,.25))
	&:after
		background: url(../img/sprites.png) 0 -240px
		bottom: -39px
		content: ""
		display: block
		height: 40px
		left: -7px
		position: absolute
		width: 722px
.post-title
	display: table
	font: 700 20px/30px $font
	height: 75px
	text-transform: uppercase
	width: 100%
	a
		color: $greenDk
		display: table-cell
		height: 61px
		padding: 7px 40px 7px 70px
		text-decoration: none
		vertical-align: middle
		&:hover, &:focus, &:active
			color: $redDk
	&:before
		background: $red url(../img/sprites.png) -5px 0
		content: ""
		display: block
		height: 75px
		left: -10px
		position: absolute
		top: 0
		width: 70px
		.page &
			background-color: $green
		.page-contato &
			background-position: -405px -3px
		.page-about &,
		.page-sobre &,
		.page-sobre-o-blog-e-a-autora &,
			background-position: -405px -82px
		.page-lista-de-resenhas &
			background-position: -480px -82px
	&:after
		border-style: solid
		border-width: 0 10px 8px 0
		border-color: transparent $red transparent transparent
		content: ""
		display: block
		height: 0
		left: -10px
		position: absolute
		top: 75px
		width: 0
		.page &
			border-color: transparent $green transparent transparent
.post-meta
	background: $gray
	font: 12px/30px $font
	min-height: 30px
	overflow: hidden
	padding: 0 10px
	text-transform: lowercase
	a
		color: $ice
		text-decoration: none
		&:hover, &:focus, &:active
			color: $green
	li
		float: left
		margin: 0 20px 0 0
	.post-meta-category:before,
	.post-meta-comments:before
		background: url(../img/sprites.png) -648px -85px
		content: ""
		float: left
		height: 30px
		width: 28px
	.post-meta-comments
		float: right
		margin-right: 0
		&:before
			background-position: -648px -45px
.post-meta-date
	color: $ice
	font-size: 13px
	text-transform: uppercase
.post-content
	padding: 20px 40px
	h2,h3,h4
		border-bottom-style: solid
		border-bottom-width: 2px
		font: 700 18px/1 $font
		margin: 20px 0 10px -20px
		padding: 0 0 5px 20px
		position: relative
		text-transform: uppercase
		&:before
			border-style: solid
			border-width: 26px 8px 6px 8px
			content: ""
			display: block
			left: 0
			position: absolute
			top: 0
		&:after
			color: #fff
			content: "\2605"
			display: block
			font-size: 12px
			left: 0
			position: absolute
			text-align: center
			top: 3px
			width: 16px
	h2
		border-color: $red
		color: $green
		&:before
			border-color: $red $red transparent $red
	h3,h4
		border-color: $green
		color: $red
		&:before
			border-color: $green $green transparent $green
	ul li:before
		color: $red
		content: "\2605"
		display: block
		font-size: 12px
		left: -15px
		position: absolute
		top: 0
	ol
		counter-reset: count
		li
			counter-increment: count
			&:before
				color: $red
				content: counter(count)"."
				display: block
				font-weight: bold
				left: -35px
				position: absolute
				text-align: right
				top: 0
				width: 32px
	.book-heading
		background: $green
		border: 0 none
		color: #fff
		font: 700 16px/30px $font
		margin: 0
		padding: 0
		text-transform: uppercase
		&:before,
		&:after
			display: none
	.summary-title
		border: 0 none
		color: $red
		font: 700 20px/34px $font
		margin: 0 0 5px
		padding: 0 0 0 42px
		&:after 
			display: none
		&:before 
			background: $red url(../img/sprites.png) -380px 0
			@include background-size(409px 179px)
			border: 5px solid $red
			content: ""
			display: block
			height: 24px
			left: 0
			margin-top: -17px
			position: absolute
			top: 50%
			width: 24px
			@include border-radius(50%)
.hr
	background: url(../img/sprites.png) -30px -169px
	clear: both
	height: 22px
	margin: 20px -15px
	width: 660px
	hr
		display: none

.more-link
	border-top: 3px solid $green
	clear: both
	display: block
	margin: 10px -40px 10px -40px
	text-decoration: none
	span
		background: $green
		color: #fff
		float: right
		font: 700 18px/30px $font
		margin-top: -3px
		padding: 0 30px
		text-decoration: inherit
		text-transform: uppercase

.books 
	margin: 10px -40px 20px -40px
	width: 710px
	img, .book-summary
		display: block
		left: 0
		position: absolute
		top: 0
	img
		height: 345px
		width: 230px
	li
		float: left
		margin-left: 10px
		padding-top: 345px
		width: 230px
		&:nth-child(3n+1)
			clear: both
			margin-left: 0
		&:before
			display: none !important
		&:hover .book-summary
			visibility: visible
	.book-summary
		background: rgba(#000,.7)
		color: #fff
		font: 13px/20px $font
		height: 325px
		overflow: hidden
		padding: 10px
		visibility: hidden
.book-meta
	border-top: 1px solid $green
	display: table
	font-size: 12px
	line-height: 16px
	text-transform: lowercase
	width: 100%
.book-term,
.book-info
	display: table-cell
	height: 32px
	padding: 4px 8px
	vertical-align: middle
.book-term
	background: $greenLt
	font-weight: 700
	position: relative
	text-align: center
	width: 20%
	&:after
		border-color: transparent transparent transparent $greenLt
		border-style: solid
		border-width: 20px 0 20px 5px
		content: ""
		display: block
		margin-top: -20px
		position: absolute
		right: -5px
		top: 50%
.book-info
	padding-left: 13px
.book-social
	font-size: 0
	text-align: center
	padding-top: 15px
	position: relative
	.social-item 
		display: inline-block
		float: none
		margin-left: 1px
		a
			height: 50px
			width: 50px
			&:before
				font-size: 30px
				line-height: 50px

.book-review
	margin-bottom: 10px
	margin-top: -30px
	position: relative
.book-aside
	left: -50px
	position: absolute
	top: 0
	width: 50px
	.social-item 
		margin: 0
		a
			border-top: 1px solid $black
			height: 50px
			width: 50px
			@include border-radius(0)
			&:before
				font-size: 28px
				line-height: 50px
.book-rating
	color: #fff
	display: block
	font: 700 25px/50px $font
	text-align: center
	width: 50px
.book-cover
	float: left
	width: 200px
	.book-heading
		padding-left: 10px
	img
		display: block
		height: 300px
		width: 100%
.book-data,
.book-grade
	margin-left: 200px
	.book-heading
		border-left: 40px solid $green
		margin-bottom: -1px
	.book-meta
		margin-left: 40px
		width: 470px
	.book-term,
	.book-info
		height: 20px
	.book-info
		font-size: 13px
	.book-term:after
		border-width: 14px 0 14px 5px
		margin-top: -14px
.book-grade .book-meta
	margin-left: 160px
	width: 350px
.book-total
	background: $greenLt
	float: left
	font: 34px/57px $font
	margin: 1px 0 0 40px
	position: relative
	text-align: center
	width: 110px
.book-stars,
.book-total:before
	display: block
	height: 20px
	left: 0
	position: absolute
	top: 68px
.book-total:before
	background: $ice
	content: ""
	width: 110px
	z-index: 1
.book-stars
	background: #000
	z-index: 2
	&:before
		background: url(../img/sprites.png) 0 -296px
		content: ""
		display: block
		height: 24px
		left: -2px
		position: absolute
		top: -2px
		width: 114px
$colors: #a6a51f, #2cacd2, #f89f16, #eb5a00, #d92c2c, $black
$ratings: l, 10, 12, 14, 16, 18
@for $i from 1 through length($ratings)
	.rating-#{nth($ratings,$i)}
		.book-rating,
		.book-stars
			background: nth($colors,$i)

.alignleft
	float: left
	margin-right: 10px
.alignright
	float: right
	margin-left: 10px
.aligncenter
	display: block
	margin-left: auto
	margin-right: auto

.book-review,
.size-large
	height: auto
	margin-left: -40px
	margin-right: -40px
	width: 710px

// Single

.post-author
	background: $greenLt
	font: 11px/17px $font
	margin: -85px 0 30px
	min-height: 100px
	padding: 10px 40px 10px 130px
	position: relative
	.avatar
		display: block
		left: 0
		position: absolute
		top: 0
.author-name
	font-size: 14px
	margin-bottom: 10px
	text-transform: uppercase

.related
	margin-bottom: 20px
.related-heading
	font: 700 14px $font
	margin-bottom: 10px
	text-transform: uppercase
.related-item
	float: left
	margin-left: 10px
	width: 110px
	&:first-child
		margin-left: 0
	a
		color: $black
		text-decoration: none
		&:hover, &:focus, &:active
			color: $redDk
.related-title
	font: 12px $font

.nav-links
	$border: 15px
	display: table
	margin: 0 $border 30px $border
	position: relative
	a
		background: $red
		color: #fff
		display: table-cell
		font: 700 12px $font
		height: 30px
		padding: 7px $border
		text-align: right
		text-decoration: none
		vertical-align: middle
		width: 50%
		@include box-sizing
		&:before
			border-bottom: 22px solid transparent
			border-left: $border solid $red
			border-top: 22px solid transparent
			content: ''
			display: block
			right: -$border + 1
			position: absolute
			top: 0
		&:first-child
			background: $black
			text-align: left
			&:before
				border-left: 0 none
				border-right: $border solid $black
				left: -$border + 1
				right: auto

// Comments

.comments-title,
.comment-reply-title
	font: 700 16px/24px $font
	margin-bottom: 10px
	text-transform: uppercase
.comment-list,
.comment-respond
	margin-bottom: 30px
.children
	margin-left: 40px
.comment-body
	margin: 0 0 10px 80px
	min-height: 80px
	position: relative
	.avatar
		display: block
		left: -80px
		position: absolute
		top: 0
.comment-meta,
.comment-content
	background: #fff
	padding: 10px 15px 0
.comment-meta a
	text-decoration: none
.comment-author
	display: inline
	font: 14px $font
	margin-right: 3px
	text-transform: uppercase
	.says 
		display: none
.comment-metadata
	display: inline
	font: italic 11px $font
	text-transform: uppercase
	a
		color: $gray
		&:hover, &:focus, &:active
			color: $green
.edit-link:before
	content: " | "
.comment-content
	min-height: 42px
	p
		line-height: 20px
	p,ol,ul
		margin-bottom: 0
		padding-bottom: 10px
.reply
	border-top: 3px solid $green
@mixin button
	color: #fff
	font: 12px/24px $font
	margin: -3px 0 0
	padding: 0 15px
	text-transform: uppercase
.comment-reply-link
	background: $green
	display: inline-block
	text-decoration: none
	@include button
	&:hover, &:focus, &:active
		color: #fff

@mixin field
	background: #fff
	border: 1px solid #fff
	font: 12px $font
	padding: 4px 6px
	width: 100%
	@include border-radius(5px)
	@include box-sizing
.comment-form
	label,
	.comment-notes,
	.form-allowed-tags
		display: none
.comment-form-author,
.comment-form-email,
.comment-form-url
	float: left
	margin: 0 0 10px 10px
	width: 230px
	input
		@include field
.comment-form-author
	margin-left: 0
.comment-form-comment 
	margin-bottom: 10px
	textarea
		height: 80px
		@include field
.form-submit
	border-top: 3px solid $red
	text-align: right
	input
		background: $red
		border: 0 none
		cursor: pointer
		display: inline-block
		@include button

// Widgets

.widget
	clear: both
.widget-title
	border-bottom: 2px solid $red
	color: $greenDk
	font: 300 16px/20px $font
	padding: 10px 10px 0
	text-transform: uppercase

.widget_search
	margin: -85px 0 0
#s
	border: 0 none
	font: italic 12px/1.5 $font
	margin: 0
	padding: 5px
	text-align: center
	width: 100%
	@include appearance(textfield)
	@include box-sizing
.s-submit
	display: none

.social
	position: relative
	.social-item
		&:first-child
			margin-left: 0
		a
			height: 38px
			width: 38px
			&:hover, &:focus, &:active
				background: $redDk
			&:before
				font-size: 26px
				line-height: 38px
	.social-skoob,
	.social-goodreads
		position: absolute
		right: 0
		top: -84px
	.social-skoob
		right: 48px
.social-facebook a
	background: rgb(93,130,209)
.social-twitter a
	background: rgb(64,191,245)
.social-instagram a
	background: rgb(84,139,182)
.social-pinterest a
	background: rgb(237,48,52)
.social-gplus a
	background: rgb(230,60,60)
.social-rss a
	background: rgb(250,163,61)
.social-skoob a,
.social-goodreads a
	background: $green

.textwidget
	font: 12px/17px $font
	padding: 7px 10px 0
	p
		margin-bottom: 7px

.tagcloud
	font: 300 13px $font
	padding: 7px 10px
	a
		color: $black
		text-decoration: none
		&:hover, &:focus, &:active
			color: $red
			text-decoration: underline

.widget_categories
	ul
		font: 12px/2 $font
	li
		margin: 0
		position: relative
	a
		background: $greenLt
		border-bottom: 1px solid $green
		color: $black
		display: block
		padding: 0 5px 0 40px
		text-decoration: none
		&:hover, &:focus, &:active 
			background: $red
			border-color: $redDk
			color: #fff
			+ span
				border-color: $redDk
				color: #fff
	span
		border-right: 1px solid $green
		display: block
		left: 0
		position: absolute
		text-align: center
		top: 0
		width: 30px
		@include transition

.widget_recent_entries
	ul
		font: 10px/12px $font
	li
		margin: 0
		position: relative
		&:before
			background: url(../img/sprites.png) -645px -7px
			content: ""
			display: block
			height: 27px
			left: 2px
			position: absolute
			top: 1px
			width: 30px
	a
		border-bottom: 1px solid $green
		color: $black
		display: block
		margin: 0
		min-height: 25px
		padding: 2px 5px 2px 40px
		text-decoration: none
		&:hover, &:focus, &:active
			background: $red
			border-color: $redDk
			color: #fff

.recentcomments
	border-bottom: 1px solid $green
	font: 10px/12px $font
	margin: 0
	min-height: 25px
	padding: 2px 5px 2px 40px
	position: relative
	@include transition(color)
	&:before,
	&:after
		background-image: url(../img/sprites.png)
		content: ""
		display: block
		height: 20px
		left: 4px
		position: absolute
		top: 5px
		width: 26px
		@include transition(opacity)
	&:before
		background-position: -687px -90px
		z-index: 2
	&:after
		background-position: -687px -50px
		opacity: 0
		z-index: 1
	&:hover
		background: $red
		border-color: $redDk
		color: #fff
		a
			color: #fff
		&:before
			opacity: 0
		&:after
			opacity: 1
	a
		color: $black
		text-decoration: none
		&:hover, &:focus, &:active
			text-decoration: underline

// Small Fixes

.books,
.widget,
.related,
.more-link,
.book-review,
.comment-body
	@include clearfix

// Retina

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
	.head
		background-image: url(../img/wood@2x.jpg)
	.post-content .summary-title:before
		background-image: url(../img/sprites@2x.png)
	.hr,
	.entry:after,
	blockquote:before,
	.post-title:before,
	.post-meta .post-meta-category:before,
	.post-meta .post-meta-comments:before,
	.widget_recent_entries li:before,
	.recentcomments:before,
	.recentcomments:after,
	.book-stars:before,
	.foot:before
		background-image: url(../img/sprites@2x.png)
		@include background-size
