!!!
%html{:lang => "pt-br"} 
	%head 
		%meta{:charset => "UTF-8"}/ 
		%title Parafraseando Livros
		%link{:rel => "stylesheet", :href => "css/screen.css"}/ 
	%body 
		%header.head{:role => "banner"} 
			%div.logo 
				%a{:href => "#", :rel => "home"} 
					%img{:src => "img/logo.png", :alt => "Parafraseando Livros", :width => "230", :height => "175", :data => {:at2x => "img/logo@2x.png"}}/ 
		%hr/ 
		%nav.nav{:role => "navigation"} 
			%ul.menu 
				%li.menu-item< 
					%a{:href => "#"} Amigos do blog
				%li.menu-item< 
					%a{:href => "#"} Contato
				%li.menu-item< 
					%a{:href => "#"} Lista de resenhas
				%li.menu-item< 
					%a{:href => "#"} Políticas do blog
				%li.menu-item< 
					%a{:href => "#"} Sobre
		%hr/ 
		%div.main{:role => "main"} 
			%section.body{:role => "region"} 
				%article.post.h-entry{:role => "article"} 
					%h1.post-title.p-name 
						%a.u-url{:href => "#"} Lançamentos de Julho
					%ul.post-meta 
						%li.post-meta-date< 
							%time.post-date.dt-published{:datetime => "2013-03-31 12:00:00"} 31 Mar 2013
						%li.post-meta-author< 
							por 
							%a.p-author.h-card{:href => "#"} Samara Maima
						%li.post-meta-category< 
							%a.p-category{:href => "#"} resenha
						%li.post-meta-comments< 
							%a{:href => "#"} 5 comentários
					.post-content.e-content 
						%p< 
							&= "Vamos que vamos Pessoas, atualizando a já interminável lista de livros para a Bienal. Não sei vocês, mas a minha já tem muita coisa, no estilo “não vou poder comprar livro até a próxima Bienal”, entendem?! >.< Estou tentando priorizar os livros que continuam as séries que tenho em aberto, mas com tantas novidades aparecendo isso se torna EXTREMAMENTE DIFÍCIL!"
						%p Mas deixando o mimimi de lado, vamos a enorme lista de lançamentos de julho (antes que julho acabe)! \o/
						%p Lembrando que provavelmente existem outros lançamentos das principais editoras, mas costumo comentar aqueles que realmente me interessam e fazem parte da linha que eu sigo aqui no blog, okei?
						%p Seguem os lançamentos por ordem alfabética das editoras! Vem comigooo!
						%h3 Arqueiro
						%ul.books 
							- 3.times do |ntime|
								%li 
									%img{:src => "http://dummyimage.com/230x345", :alt => "", :width => "230", :height => "345"}/ 
									.book-summary 
										%h3.summary-title Sinopse
										%p Kelsey Hayes perdeu os pais recentemente e precisa arranjar um emprego para custear a faculdade. Contratada por um circo, ela é arrebatada pela principal atração: um lindo tigre branco. Kelsey sente uma forte conexão com o misterioso animal de olhos azuis e, tocada por sua solidão, passa a maior parte do seu tempo livre ao lado dele. O que a jovem órfã ainda não sabe é que seu tigre Ren é na verdade Alagan Dhiren Rajaram, um príncipe indiano que foi amaldiçoado por um mago…
									%dl.book-meta 
										%dt.book-term Título
										%dd.book-info os homens que não amavam as mulheres
									%dl.book-meta 
										%dt.book-term Série
										%dd.book-info ---
									%dl.book-meta 
										%dt.book-term Autor
										%dd.book-info Tracey Garvis Graves
				%article.post.h-entry{:role => "article"} 
					%h1.post-title.p-name 
						%a.u-url{:href => "#"} Promoção: 3 anos de parafraseando livros, mais um livro! 3 anos de parafraseando livros, mais um livro!
					%ul.post-meta 
						%li.post-meta-date< 
							%time.post-date.dt-published{:datetime => "2013-03-31 12:00:00"} 31 Mar 2013
						%li.post-meta-author< 
							por 
							%a.p-author.h-card{:href => "#"} Samara Maima
						%li.post-meta-category< 
							%a.p-category{:href => "#"} resenha
						%li.post-meta-comments< 
							%a{:href => "#"} 5 comentários
					.post-content.e-content 
						%blockquote 
							%p Kelsey Hayes perdeu os pais recentemente e precisa arranjar um emprego para custear a faculdade. Contratada por um circo, ela é arrebatada pela principal atração: um lindo tigre branco. Kelsey sente uma forte conexão com o misterioso animal de olhos azuis e, tocada por sua solidão, passa a maior parte do seu tempo livre ao lado dele. O que a jovem órfã ainda não sabe é que seu tigre Ren é na verdade Alagan Dhiren Rajaram, um príncipe indiano que foi amaldiçoado por um mago há mais de 300 anos, e que ela pode ser a única pessoa capaz de ajudá-lo a quebrar esse feitiço. Determinada a devolver a Ren sua humanidade, Kelsey embarca em uma perigosa jornada pela Índia, onde enfrenta forças sombrias, criaturas imortais e mundos místicos, tentando decifrar uma antiga profecia. Ao mesmo tempo, se apaixona perdidamente tanto pelo tigre quanto pelo homem.
						%p< 
							%a.more-link{:href => "#"}< 
								%span Leia mais…
						%h2 Design
						%p A capa de A Maldição do Tigre é impressionante. É impossível entrar em uma livraria e não parar e voltar para ver de perto a capa metalizada. Só é um pouco estranho porque o efeito não está no centro do “rosto” do tigre, então fica ligeiramente esquisito um círculo sem efeito bem no meio da capa.
						%p Esta é minha primeira experiência com a editora Arqueiro e fiquei bastante satisfeita com o resultado final do livro. O miolo é bonito, com uma mancha bem agradável de leitura. O texto respira bem nas margens e nas entrelinhas. Senti falta do cabeçalho com a informação autor/nome do livro.
						%p Achei as páginas de abertura de capítulos elegantes, mas à primeira vista a fonte utilizada nos títulos não me pareceu “hindu”, me remeteu mais às letras árabes. Os arabescos florais também me deixaram um pouco em dúvida se tinham a ver com a arte indiana, porque eram um tanto quanto diferentes da moldura da capa.
						%p Gostei da experiência de ter um “aperitivo” do próximo livro nas páginas finais, mas confesso que não li porque não queria spoilers.
						.hr 
							%hr/ 
						%h2 Resenha
						%p Sabem… acho que ao final de A Maldição do Tigre eu cheguei a duas suposições: ou eu estou velha e não está mais dando para ler romances de “adolescentes”, ou Colleen Houck pegou extremamente pesado em todos os clichês possíveis de relacionamentos de livros YAs…
						%p O livro começa bem, contado em primeira pessoa, às vezes com um linguajar um tanto rebuscado para uma jovem de 18 anos, contextualizando a vida comum de Kelsey até ela aceitar trabalhar em um circo em suas férias de verão. Lá ela ajuda a cuidar de um tigre branco e cria um vínculo com o animal.
						%p< 
							A 
							%a{:href => "#"} primeira coisa 
							que me incomodou no livro foi quando Kelsey é “chamada para sua aventura”. “Vamos comigo para Índia levar o tigre branco para reserva?” "Claro, já é!”… O.O Oi?! Cadê a dúvida, a ansiedade, a sensação de incapacidade? Onde foi parar a negação?! Quando Kelsey não negou o chamado para aventura ficou faltando um elemento de tensão que de alguma forma culminaria em ela mudar sua decisão e ir para Índia de qualquer jeito.
						%p Quer um exemplo? Ela se nega a ir, a pessoa dá um cartão de visitas para que ela entre em contato caso mude de ideia. De noite, ela tem um pesadelo com o tigre sendo massacrado por caçadores e deixando a entender que a culpa era dela, por não ter ido junto. Ela acorda com a “necessidade” de fazer a viagem e proteger o tigre que é tão importante para ela. Faz bastante diferença, faz com que ela internalize ainda mais a ligação com este animal em especial.
						%p Bem, okei, ela vai pra Índia. Aí jogam a bomba na cabeça dela: príncipe lindo-gostoso-über-maravilhoso, maldição, só ela que pode salvá-lo. Vocês acham que a Kelsey surta, entra em pânico, pede penico e quer voltar para casa, que é a coisa que qualquer pessoa normal sentiria?! Não! Super Kelsey acha tudo maneiro e super normal, vamos lá salvar o dia!…
						.hr 
							%hr/ 
						%p Até a próxima! o/
				%article.post.h-entry{:role => "article"} 
					%h1.post-title.p-name 
						%a.u-url{:href => "#"} Novas aquisições do blog #40
					%ul.post-meta 
						%li.post-meta-date< 
							%time.post-date.dt-published{:datetime => "2013-03-31 12:00:00"} 31 Mar 2013
						%li.post-meta-author< 
							por 
							%a.p-author.h-card{:href => "#"} Samara Maima
						%li.post-meta-category< 
							%a.p-category{:href => "#"} resenha
						%li.post-meta-comments< 
							%a{:href => "#"} 5 comentários
					.post-content.e-content 
						%p Em setembro minha cunhada viajou para os EUA e me perguntou se eu queria alguma coisa. Bem… maquiagem e LIVROS, porque… né?! XD Mas confesso que não achei que ela fosse realmente trazer os livros porque no final das contas, eles podem ser um “peso” indesejado.
						%p Eu tinha pedido o box dos três primeiros livros do Terry Goodkind (Sword of Truth <3) e os últimos livros da série da Charlaine Harris, Sookie Stackhouse. Ela me trouxe os livros da Sookie \o/ mas com um porém… XD O último que li e tenho é o nono volume, e os que ganhei são o 11º e o 12º. XD Bem, é só esperar uma oportunidade e compro o 10º e o 13º que estão faltando agora.
						%p 
							/ %img.size-large{:src => "http://dummyimage.com/800x600", :alt => "", :width => "800", :height => "600"}/ 
						%ul 
							%li< 
								%b< 
									A Guerra dos Tronos [
									%a{:href => "#"} skoob
									] 
								\- As Crônicas de Gelo e Fogo #1 - George R.R. Martin (escrevendo mais alguma coisa para formar um bullet de duas linhas.
						.hr<
							%hr/ 
						%p Dois dias para montar o post… mais de 20 lançamentos e eu ainda devo ter esquecido alguma coisa…
						%p Só sei que os NAs estão vindo com tudo e eu estou extremamente grata por isso. ^.~
						%p Até a próxima! o/
						%h2 Blogs
						%ol 
							- 5.times do |ntime|
								%li 
									%b 
										Brincando com Livros [
										%a{:href => "#"} visite
										]
						.hr 
							%hr/ 
				%section.post-author 
					%img.avatar{:src => "http://dummyimage.com/240x240", :alt => "", :width => "120", :height => "120"}/ 
					%h3.author-name Samara MaiMa
					%p Preocupada com a quantidade de lançamentos do mês e com meu compromisso de não comprar livros em 2014…
				%section.related 
					%h3.related-heading Continue Parafraseando
					%ul.related-list 
						%li.related-item 
							%a{:href => "#"} 
								%img.related-image{:src => "http://dummyimage.com/220x220", :alt => "", :width => "110", :height => "110"}/ 
								%h4.related-title [promoção] Dia Internacional da Mulher
						%li.related-item 
							%a{:href => "#"} 
								%img.related-image{:src => "http://dummyimage.com/220x220", :alt => "", :width => "110", :height => "110"}/ 
								%h4.related-title [evento] Fantasy, MRG e Rapaduracast em São Paulo
						%li.related-item 
							%a{:href => "#"} 
								%img.related-image{:src => "http://dummyimage.com/220x220", :alt => "", :width => "110", :height => "110"}/ 
								%h4.related-title os três livros que mudaram minha forma de ver e viver a vida
						%li.related-item 
							%a{:href => "#"} 
								%img.related-image{:src => "http://dummyimage.com/220x220", :alt => "", :width => "110", :height => "110"}/ 
								%h4.related-title [promoção] Dia Internacional da Mulher
						%li.related-item 
							%a{:href => "#"} 
								%img.related-image{:src => "http://dummyimage.com/220x220", :alt => "", :width => "110", :height => "110"}/ 
								%h4.related-title [evento] Fantasy, MRG e Rapaduracast em São Paulo
						%li.related-item 
							%a{:href => "#"} 
								%img.related-image{:src => "http://dummyimage.com/220x220", :alt => "", :width => "110", :height => "110"}/ 
								%h4.related-title os três livros que mudaram minha forma de ver e viver a vida
				%nav.nav-links 
					%a{:href => "#", :rel => "prev"} 
						%span [evento] Fantasy, MRG e Rapaduracast em São Paulo
					%a{:href => "#", :rel => "next"} 
						%span os três livros que mudaram minha forma de ver e viver a vida
				#comments.comments-area 
					%h2.comments-title 5 Comentários
					%ol.comment-list 
						%li.comment.even.thread-even.depth-1.parent 
							%article.comment-body 
								%footer.comment-meta 
									.comment-author.vcard 
										%img.avatar.avatar-80.photo{:src => "http://dummyimage.com/160x160", :alt => "", :width => "80", :height => "80"}/ 
										%b.fn< 
											%a.url{:href => "#"} Babi Lorentz
										%span.says disse:
									.comment-metadata 
										%a{:href => "#"} 
											%time{:datetime => "2013-12-24T14:00:53+00:00"} 24 de dezembro de 2013 às 14:00
										%span.edit-link< 
											%a.comment-edit-link{:href => "#"} Editar
								.comment-content 
									%p Quebra o porquinho hardmente… e as economias para Bienal, como ficam? u.u
								.reply< 
									%a.comment-reply-link{:href => "#"} Responder
							%ol.children 
								%li.comment.byuser.bypostauthor.odd.alt.depth-2 
									%article.comment-body 
										%footer.comment-meta 
											.comment-author.vcard 
												%img.avatar.avatar-80.photo{:src => "http://dummyimage.com/160x160", :alt => "", :width => "80", :height => "80"}/ 
												%b.fn< 
													%a.url{:href => "#"} Samara MaiMa
												%span.says disse:
											.comment-metadata 
												%a{:href => "#"} 
													%time{:datetime => "2013-12-24T14:00:53+00:00"} 24 de dezembro de 2013 às 14:00
												%span.edit-link< 
													%a.comment-edit-link{:href => "#"} Editar
										.comment-content 
											%p One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
										.reply< 
											%a.comment-reply-link{:href => "#"} Responder
					#respond.comment-respond
						%h2#reply-title.comment-reply-title Quer parafrasear também?
						%form#commentform.comment-form{:action => "/", :method => "post", :role => "form"} 
							%p.comment-form-author 
								%label{:for => "author"}< 
									Nome 
									%span.required *
								%input#author{:type => "text", :name => "author", :placeholder => "seu nome*"}/ 
							%p.comment-form-email 
								%label{:for => "email"}< 
									Email 
									%span.required *
								%input#email{:type => "email", :name => "email", :placeholder => "seu email*"}/ 
							%p.comment-form-url 
								%label{:for => "url"} Site 
								%input#url{:type => "url", :name => "url", :placeholder => "site ou blog"}/ 
							%p.comment-form-comment 
								%label{:for => "comment"} Comentário 
								%textarea#comment{:name => "comment", :cols => "45", :rows => "8", :placeholder => "escreva seu comentário"}
							%p.form-submit 
								%input{:type => "submit", :value => "Enviar"}/ 
			%section.extra{:role => "region"} 
				%aside.widget.widget_search 
					%form.search-form{:action => "/", :method => "get", :role => "search"} 
						%p 
							%input#s{:type => "search", :name => "s", :placeholder => "digite sua busca e pressione enter", :aria => {:required => true, :label => "digite sua busca e pressione enter"}}/ 
							%button.s-submit{:type => "submit"} Ok
					%ul.social 
						%li.social-item.social-facebook< 
							%a{:href => "#", :target => "_blank", :title => "Facebook", :data => {:icon => "f"}} Facebook
						%li.social-item.social-twitter< 
							%a{:href => "#", :target => "_blank", :title => "Twitter", :data => {:icon => "t"}} Twitter
						%li.social-item.social-instagram< 
							%a{:href => "#", :target => "_blank", :title => "Instagram", :data => {:icon => "i"}} Instagram
						%li.social-item.social-pinterest< 
							%a{:href => "#", :target => "_blank", :title => "Pinterest", :data => {:icon => "p"}} Pinterest
						%li.social-item.social-gplus< 
							%a{:href => "#", :target => "_blank", :title => "Google+", :data => {:icon => "g"}} Google+
						%li.social-item.social-skoob< 
							%a{:href => "#", :target => "_blank", :title => "Skoob", :data => {:icon => "k"}} Skoob
						%li.social-item.social-goodreads< 
							%a{:href => "#", :target => "_blank", :title => "GoodReads", :data => {:icon => "r"}} GoodReads
				%aside.widget.widget_text{:role => "complementary"} 
					%h3.widget-title Olá pessoas…
					.textwidget
						%p …bem-vindos ao Parafraseando Livros, blog de resenhas e opiniões sobre os últimos livros que li e também de novidades e lançamentos do universo literário.
						%p Fique à vontade, leia, comente, critique (com carinho) e volte sempre para ver as novidades! o/
				%aside.widget.widget_categories{:role => "complementary"} 
					%h3.widget-title Parafraseados como
					%ul 
						%li.cat-item 
							%a{:href => "#"} Aquisições
							%span 24
						%li.cat-item 
							%a{:href => "#"} Bate-papo
							%span 38
						%li.cat-item 
							%a{:href => "#"} Eventos
							%span 8
						%li.cat-item 
							%a{:href => "#"} Lançamentos
							%span 45
						%li.cat-item 
							%a{:href => "#"} Meme
							%span 4
						%li.cat-item 
							%a{:href => "#"} Notícias
							%span 25
						%li.cat-item 
							%a{:href => "#"} Resenhas
							%span 999
						%li.cat-item 
							%a{:href => "#"} Sorteios
							%span 10
				%aside.widget.widget_tag_cloud 
					%h3.widget-title Tags
					.tagcloud
						%a{href: "#", style: "font-size: 8pt;"} 3 pontos
						%a{href: "#", style: "font-size: 8.60869565217pt;"} 3.5 pontos
						%a{href: "#", style: "font-size: 10.7391304348pt;"} 4 pontos
						%a{href: "#", style: "font-size: 8pt;"} 4.75 pontos
						%a{href: "#", style: "font-size: 13.7826086957pt;"} amazon
						%a{href: "#", style: "font-size: 16.0652173913pt;"} bate papo
						%a{href: "#", style: "font-size: 10.7391304348pt;"} carolina munhoz
						%a{href: "#", style: "font-size: 9.21739130435pt;"} charlaine harris
						%a{href: "#", style: "font-size: 13.7826086957pt;"} de graça
						%a{href: "#", style: "font-size: 10.7391304348pt;"} editora agir
						%a{href: "#", style: "font-size: 15.9130434783pt;"} editora arqueiro
						%a{href: "#", style: "font-size: 16.9782608696pt;"} editora fantasy - casa da palavra
						%a{href: "#", style: "font-size: 14.847826087pt;"} editora galera record
						%a{href: "#", style: "font-size: 11.0434782609pt;"} editora id
						%a{href: "#", style: "font-size: 19.7173913043pt;"} editora intrínseca
						%a{href: "#", style: "font-size: 18.347826087pt;"} editora leya
						%a{href: "#", style: "font-size: 11.5pt;"} editora lua de papel
						%a{href: "#", style: "font-size: 8pt;"} editora record
						%a{href: "#", style: "font-size: 13.7826086957pt;"} editora rocco
						%a{href: "#", style: "font-size: 10.2826086957pt;"} editora seguinte
						%a{href: "#", style: "font-size: 10.7391304348pt;"} editora suma de letras
						%a{href: "#", style: "font-size: 12.5652173913pt;"} editora universo dos livros
						%a{href: "#", style: "font-size: 8pt;"} eduardo spohr
				%aside.widget.widget_recent_entries 
					%h3.widget-title Novo no PL
					%ul 
						%li 
							%a{:href => "#"} [resenha] Pela Luz dos Olhos Seus – Janine Boissard
						%li 
							%a{:href => "#"} tá de graça na amazon #19
						%li 
							%a{:href => "#"} lançamentos novembro: iD
						%li 
							%a{:href => "#"} [resenha] De repente, é ele – Susan Fox
						%li 
							%a{:href => "#"} novas aquisições do blog #34
				%aside.widget.widget_recent_comments 
					%h3.widget-title Últimos comentários
					%ul#recentcomments 
						%li.recentcomments 
							%a.url{:href => "#"} Nica (@DraftsdaNica) 
							em
							%a{:href => "#"} [resenha] Pela Luz dos Olhos Seus – Janine Boissard
						%li.recentcomments 
							%a.url{:href => "#"} Isabella Marques 
							em
							%a{:href => "#"} [promoção] sorteio de O Olho do Mundo, da Intrínseca
						%li.recentcomments 
							%a.url{:href => "#"} Cristiane de oliveira 
							em
							%a{:href => "#"} [promoção] sorteio de O Olho do Mundo, da Intrínseca
						%li.recentcomments 
							%a.url{:href => "#"} Ize Chi (@IzeChi) 
							em
							%a{:href => "#"} [resenha] Os Videntes – Libba Bray
						%li.recentcomments 
							%a.url{:href => "#"} Guilherme Lopes 
							em
							%a{:href => "#"} [resenha] O Olho do Mundo – Robert Jordan
		%hr/ 
		%footer.foot 
			%ul.foot-menu 
				%li.menu-item< 
					%a{:href => "#"} Amigos do blog
				%li.menu-item< 
					%a{:href => "#"} Contato
				%li.menu-item< 
					%a{:href => "#"} Lista de resenhas
				%li.menu-item< 
					%a{:href => "#"} Políticas do blog
				%li.menu-item< 
					%a{:href => "#"} Sobre o blog e a autora
			%ul.foot-social 
				%li.social-item< 
					%a{:href => "#", :target => "_blank", :title => "Facebook", :data => {:icon => "f"}} Facebook
				%li.social-item< 
					%a{:href => "#", :target => "_blank", :title => "Twitter", :data => {:icon => "t"}} Twitter
				%li.social-item< 
					%a{:href => "#", :target => "_blank", :title => "Instagram", :data => {:icon => "i"}} Instagram
				%li.social-item< 
					%a{:href => "#", :target => "_blank", :title => "Pinterest", :data => {:icon => "p"}} Pinterest
				%li.social-item< 
					%a{:href => "#", :target => "_blank", :title => "Google+", :data => {:icon => "g"}} Google+
				%li.social-item< 
					%a{:href => "#", :target => "_blank", :title => "RSS", :data => {:icon => "s"}} RSS
				%li.social-item< 
					%a{:href => "#", :target => "_blank", :title => "Skoob", :data => {:icon => "k"}} Skoob
				%li.social-item< 
					%a{:href => "#", :target => "_blank", :title => "GoodReads", :data => {:icon => "r"}} GoodReads
			%strong.site-name 
				%img{:src => "img/logo-small.png", :alt => "Parafraseando livros", :width => "214", :height => "26", :data => {:at2x => "img/logo-small@2x.png"}}/ 
			%p.copyright 
				todos os direitos reservados — copyright 2010-2013 Parafraseando Livros / Samara MaiMa
				%br/ 
				layout por Samara Maia Mattos — 
				%a{:href => "#"} www.samaramaia.com
				%br/ 
				desenvolvimento por Rafael Dourado — 
				%a{:href => "#"} www.rafaeldourado.com.br
		%script{:src => "js/retina-1.1.0.js"} 